<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">
                <img alt="GreenTeam" style="height: 100%; padding-right: 10px;" src="\Pictures\Logo\logogt.jpg" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="/about"><span ng-class="{ 'activeMenuText': activeItem === 'about' }">About us</span></a>
                </li>
                <li>
                    <a class="navbar-brand" href="/projects"><span ng-class="{ 'activeMenuText': activeItem === 'projects' }">Our projects</span></a>
                </li>
                <li>
                    <a class="navbar-brand" href="/contacts"><span ng-class="{ 'activeMenuText': activeItem === 'contacts' }">Contacts</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
